:root {
  --branding-color: teal;
  --primary-color: rgba(94, 234, 212, 1);
  --secondary-color: #193756;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}
/*underline style */
a {
  display: inline-block;
  position: relative;
  padding: 0.2em 0;
}

a::after {
  content: "";
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 88%;
  height: 0.1em;
  background-color: var(--primary-color);
  transition: opacity 400ms, transform 400ms;
}

a:hover::after,
a:focus::after {
  transform: scale(1);
}

a span {
  display: inline-block;
  transform: translateX(20%);
  transition: 1s ease-in-out;
}

a span:hover {
  transform: translateX(70%);
}

.hero {
  background: rgb(231, 228, 228);
  text-align: center;
  padding: 160px 20px;
}

.intro {
  font-size: 36px;
  font-family: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 2;
  font-weight: normal;
}
