:root {
  --branding-color: rgb(239, 248, 248);
  --primary-color: #5eead4;
  --secondary-color: #193756;
  --light: #f0f8ff;
  --dark-theme-color: #030e1b;
  --dark-second-color: #08172a;
  --dark-font-color: #f0f8ff;
  --other-color: rgba(0, 128, 128, 0.368);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--dark-theme-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--branding-color);
}

.hero h1 {
  font-size: 86px;
  text-align: left;
}

.hero-subtitle {
  font-size: 30px;
  text-align: left;
  line-height: 1.5;
  color: var(--branding-color);
}

.hero-paragraph {
  text-align: left;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
   color: var(--branding-color);
}

.workwithme {
  text-align: left;
}

a {
  text-decoration: none;
  color: var(--branding-color);
}

p.app-description,
.about-subtitle,
.job-role,
.social {
  opacity: 0.8;
}

.cv {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--primary-color);
}

.cv:hover {
  padding: 10px 20px;
  border-radius: 0;
  background-color: transparent;
}

/*Links underline style */
a {
  display: inline-block;
  position: relative;
  padding: 0.2em 0;
}

a::after {
  content: "";
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 88%;
  height: 0.1em;
  background-color: var(--primary-color);
  transition: opacity 400ms, transform 400ms;
}

a:hover::after,
a:focus::after {
  transform: scale(1);
}

a span {
  display: inline-block;
  transform: translateX(20%);
  transition: 1s ease-in-out;
}

a span:hover {
  transform: translateX(70%);
}

/*underline style ends here*/

.hero {
  background: var(--dark-second-color);
  text-align: center;
  padding: 80px 20px;
}

.hero .intro {
  color: var(--branding-color);
  font-size: 28px;
  text-align: left;
  font-family: var(--default-font-family);
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 28px;
  line-height: 2;
  font-weight: normal;
  text-align: left;
}

.profile-pic {
  border-radius: 50%;
}

.project-description {
  text-align: center;
  padding: 20px;
  color: var(--branding-color);
}

span.language-used {
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 13px;
  margin: 3px;
  font-weight: 500;
  background-color: var(--dark-second-color);
  color: var(--primary-color);
  opacity: 0.9;
}

.app-pic-hp {
  padding: 4px;
  box-shadow: -4px -1px 9px 2px rgba(76, 83, 83, 0.336);
  
}

.app-row {
  transition: all 150ms ease-in-out;
}

.app-row:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--dark-second-color);
}

p.text-muted {
  color: var(--branding-color);
}

.weblogo {
  width: 50px;
}

.icon {
  max-width: 100%;
}

.contact-details {
  padding: 20px;
}

.contact-text {
  margin-top: 5px;
  font-size: 22px;
  color: var(--branding-color);
}

.skills-icon {
  font-size: 15px;
  padding: 10px ;
  color: var(--branding-color);
}

.skills-section i.fa-brands {
  font-size: 55px;
  padding-bottom: 25px;
  text-align: center;
}

.skills-section i.fa-solid {
  font-size: 55px;
  padding-bottom: 25px;
  text-align: center;
}

.skills-section li {
   text-align: center;
}

p.skills-title {
  opacity: 0.8;

}

/*RESPONSIVE FOR TAB & MOBILE VIEW*/

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
    line-height: 1.5;
  }

  h2 {
    font-size: 36px;
  }
  h3 {
    text-align: center;
  }

  .hero {
    padding: 40px 20px;
  }

  .hero h2 {
    line-height: 1;
    font-size: 22px;
  }

  .hero .intro {
    font-size: 22px;
    font-family: var(--default-font-family);
    padding-top: 30px;
    text-align: center;
  }

  .content .intro {
    font-size: 22px;
    font-family: var(--default-font-family);
    padding-top: 30px;
    text-align: center;
  }

  h1.intro-project {
    font-size: 40px;
    line-height: 1.3;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-section h1,
  p {
    padding: 0;
    
  }

 .content h1 {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
  }

  .content .hero-subtitle {
    font-size: 22px;
    line-height: 1.3;
    text-align: center;
  }

.content .hero-paragraph {
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

 .workwithme {
  text-align: center;
  font-size: 14px;
}

.profile-pic {
  width: 300px;
}

p.about-subtitle {
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
}

p.about-me {
  font-size: 14px;
  text-align: center;
  line-height: 1.7;
}

  h1.intro-title {
    padding-top: 28px;
  }

 h2.title-text {
    font-size: 26px;
    text-align: center;
  }

  .experience-section p {
    font-size: 14px;
    text-align: center;
    
  }


.project-slide h3 {
  padding: 15px 0;

}

.project-slide p {
 font-size: 14px;
 text-align: center;
 line-height: 1.7;
}

.project-slide a {
 font-size: 14px;
 justify-content: center;
}

.project-slide span {
 font-size: 12px;
}

.link-to-page {
  font-size: 14px;
}
 
  .content {
    margin: 0;
  }

  .icon {
    width: 55%;
    justify-content: center;
  }

  a.link-to {
    text-align: center;
  }

  .footer-section p {
    justify-content: center;
    font-size: 12px;
  }

 .footer-section .social-media-section {
    justify-content: center;
  }

 .skills-section {
    justify-content: center;
    
  }

  .experience-section h2 {
    text-align: center;
  }

  .skills-icon {
    text-align: center;
    padding-bottom: 20px;
  }

  .skills-icon {
  font-size: 13px;
  padding: 10px ;
  color: var(--branding-color);
}

.skills-section i.fa-brands {
  font-size: 40px;
  padding-bottom: 25px;
  text-align: center;
}

.skills-section i.fa-solid {
  font-size: 40px;
  padding-bottom: 25px;
  text-align: center;
}

  .link-to-page {
    text-align: center;
  }

  .contact-text {
    margin-top: 18px;
    font-size: 16px;
    text-align: center;
  }

  .contact-details {
    padding: 0;
  }

  .contact-details h3 {
    font-size: 20px;
  }

   .contact-details p {
    font-size: 14px;
    text-align: center;
  }
  
}
/*RESPONSIVE ends here*/

.app-img {
  box-shadow: -1px -1px 22px -2px rgba(32, 33, 36, 0.671);
}

div.page-title p {
  margin: 60px 30px;
  font-size: 35px;
  font-weight: 500;
  opacity: 0.6;
}

.content {
  margin: 30px;
}

.intro-title {
  font-size: 54px;
  line-height: 1.3;
}

.intro-project {
  font-size: 54px;
  line-height: 1.3;
  text-align: center;
  margin: 45px 0;
  padding-top: 30px;
}

.about-subtitle {
  font-size: 18px;
  font-weight: 500;
}

/*NAVIGATION*/

nav {
  position: sticky;
  z-index: 99;
  width: 100%;
  background-color: var(--dark-second-color);
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a {
  color: var(--branding-color);
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: var(--branding-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 15px;
}

.nav-links .mobile-item {
  display: none;
}

.wrapper .btn {
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

/*Navigation Responsive*/
@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    top: 0;
    left: -100%;
    background: var(--dark-second-color);
    display: block;
    padding: 50px 10px;
    line-height: 35px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--secondary-color);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--branding-color);
  }

  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }

  .nav-links li a {
    padding: 0 5px;
    display: inline-flex;
    font-size: 16px;
    text-align: center;
    color: var(--branding-color);
  }
}
nav input {
  display: none;
}

/*navigation ends here*/

footer {
  background-color: var(--dark-second-color);
  margin-top: 80px;
}

.footer-section {
  padding-top: 20px;
}

.skills-section,
.social-media-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

.social-media-icon {
  font-size: 25px;
  padding: 0 20px;
  color: var(--secondary-color);
}

.social-media-icon a:hover {
  opacity: 0.7;
}

.footer-text {
  display: flex;
  justify-content: end;
  color: var(--branding-color);
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.9;
}

/*Scroll to top button*/
.top-btn {
  all: unset;
  font-size: 1.5rem;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.8);
  opacity: 0;
  transition: 0.3s;
}

/*SWITCH BTN FOR light THEME*/

.switch {
  position: relative;
  display: block;
  width: 34px;
  height: 20px;
  margin: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(152, 179, 179);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: " ";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: var(--branding-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover {
  background: var(--secondary-color);
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*slick */

.content-slick .slick-slide {
  padding: 0 12px;
}

.content-slick .slick-prev {
  left: -30px;
}
.content-slick .slick-next {
  right: -30px;
}

.content-slick .slick-prev:before,
.content-slick .slick-next:before {
 color: var(--branding-color);
  font-size: 30px;
}

.slick-dots li button:before {
    color: var(--primary-color);
  }


/*light THEME*/
.light {
  background: var(--light-color);
  color: var(--branding-color);
}
.light .hero {
  background: var(--branding-color);
  color: var(--secondary-color);
}

.light a,
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light .hero-subtitle,
.light .text-center,
.light .intro,
.light p,
.light .contact-text,
.light .fa-brands,
.light .fa-solid,
.light .text-muted span,
.light .footer-text {
  color: var(--secondary-color);
}

.light .app-row:hover {
  background-color: var(--dark-second-color);
}

.light .app-pic-hp,
.light .app-img {
 box-shadow: -4px -1px 9px 2px rgba(222, 248, 248, 0.467);
}

.light span.language-used {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  opacity: none;
}

.light p.text-muted {
  color: var(--secondary-color);
}

.light .wrapper .btn {
  color: var(--secondary-color);
}

.light footer,
.light nav {
  background-color: var(--branding-color);
  color: var(--secondary-color);
}

.light .nav-links li a {
  color: var(--secondary-color);
}

.light .slider {
  height: 20px;
  transition: all 200ms ease-in-out;
}
.light .slider:hover {
  background: rgb(152, 179, 179);
}

.light .skills-icon {
  color: var(--secondary-color);
}


.light .content-slick .slick-prev:before,
.light .content-slick .slick-next:before {
  color: var(--secondary-color);
  font-size: 30px;
}

@media screen and (max-width: 970px) {
  .light .wrapper .nav-links {
    background: var(--branding-color);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
  }
}

